.d3-other-contacts-container10 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.d3-other-contacts-container11 {
  top: 8vh;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: var(--dl-color-gray-black);
}
 
.d3-other-contacts-container12 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: auto;
  margin: auto;
  display: flex;
  z-index: 102;
  position: absolute;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.d3-other-contacts-container13 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: auto;
  bottom: 0px;
  height: 92vh;
  margin: auto;
  display: flex;
  z-index: 100;
  position: absolute;
  transform: rotate(180deg);
  align-self: stretch;
  align-items: flex-start;
  padding-top: 8vh;
  flex-direction: column;
  padding-bottom: 8vh;
}
 
.d3-other-contacts-image {
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
 
.d3-other-contacts-container14 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  animation-name: fadeInRight;
  flex-direction: column;
  animation-delay: 10s;
  background-image: linear-gradient(90deg, rgba(170, 170, 170, 0) 0.00%,rgba(0, 0, 0, 0.7) 100.00%);
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
 
.d3-other-contacts-container15 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  bottom: 0px;
  margin: auto;
  display: flex;
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  animation-name: fadeInLeft;
  flex-direction: column;
  animation-delay: 5s;
  background-image: linear-gradient(270deg, rgba(170, 170, 170, 0) 0.00%,rgba(0, 0, 0, 0.7) 100.00%);
  animation-duration: 5s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
 
.d3-other-contacts-steps {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  z-index: 105;
  max-width: var(--dl-size-size-maxwidth);
  min-height: 92vh;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: center;
  flex-direction: column;
}
 
.d3-other-contacts-text10 {
  color: var(--dl-color-gray-950);
  font-size: 3rem;
}
 
.d3-other-contacts-text12 {
  color: var(--dl-color-gray-700);
  font-size: 1.15rem;
  max-width: 600px;
  margin-top: var(--dl-space-space-unit);
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
 
.d3-other-contacts-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.d3-other-contacts-step1 {
  display: flex;
  align-items: stretch;
  margin-bottom: 25vh;
  flex-direction: row;
  justify-content: space-between;
}
 
.d3-other-contacts-container17 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.d3-other-contacts-container18 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
}
 
.d3-other-contacts-container19 {
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d3-other-contacts-text15 {
  color: var(--dl-color-gray-white);
  padding: 1vh;
  z-index: 100;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: var(--dl-color-scheme-blue);
}
 
.d3-other-contacts-container20 {
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d3-other-contacts-container21 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
}
 
.d3-other-contacts-container22 {
  flex: 1;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.d3-other-contacts-text16 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
 
.d3-other-contacts-text18 {
  text-align: center;
}
 
.d3-other-contacts-step2 {
  display: flex;
  align-items: stretch;
  margin-bottom: 25vh;
  flex-direction: row;
  justify-content: space-between;
}
 
.d3-other-contacts-container23 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.d3-other-contacts-container24 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: row;
  justify-content: center;
}
 
.d3-other-contacts-container25 {
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
}
 
.d3-other-contacts-container26 {
  top: 0px;
  right: 0px;
  width: 100%;
  display: flex;
  position: absolute;
  align-items: flex-end;
  flex-direction: column;
}
 
.d3-other-contacts-container27 {
  flex: 1;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-items: flex-end;
  padding-top: 1vh;
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.d3-other-contacts-text21 {
  text-align: center;
  margin-bottom: var(--dl-space-space-unit);
}
 
.d3-other-contacts-text23 {
  text-align: center;
}
 
.d3-other-contacts-text26 {
  color: var(--dl-color-gray-white);
  padding: 1vh;
  z-index: 100;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: var(--dl-color-scheme-blue);
}
 
.d3-other-contacts-container28 {
  flex: 1;
  width: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.d3-other-contacts-step3 {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
 
.d3-other-contacts-container29 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
 
.d3-other-contacts-line1 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.d3-other-contacts-container30 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
 
.d3-other-contacts-icon1 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
 
.d3-other-contacts-line2 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.d3-other-contacts-container31 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
 
.d3-other-contacts-text27 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
 
.d3-other-contacts-text29 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
 
.d3-other-contacts-step4 {
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: space-between;
}
 
.d3-other-contacts-container32 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: 2px;
  padding-right: 2px;
  flex-direction: row;
  justify-content: center;
}
 
.d3-other-contacts-line3 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: var(--dl-color-gray-900);
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.d3-other-contacts-container33 {
  flex: 0 0 auto;
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  align-items: center;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
  background-color: #f5f5f5ff;
}
 
.d3-other-contacts-icon4 {
  fill: var(--dl-color-gray-500);
  width: 24px;
  height: 24px;
}
 
.d3-other-contacts-line4 {
  flex: 1;
  height: 0px;
  display: flex;
  align-items: flex-start;
  border-color: transparent;
  border-style: dashed;
  border-width: 2px;
  flex-direction: row;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.d3-other-contacts-container34 {
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-twounits);
  padding-right: var(--dl-space-space-twounits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
}
 
.d3-other-contacts-text32 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-space-space-unit);
}
 
.d3-other-contacts-text34 {
  color: var(--dl-color-gray-500);
  font-size: 0.75rem;
  text-align: center;
}
 
.d3-other-contacts-line5 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 0px;
  bottom: 0px;
  height: 100%;
  margin: auto;
  display: flex;
  position: absolute;
  align-items: flex-start;
  border-color: rgba(51, 181, 229, 0.8);
  border-style: dashed;
  border-width: 2px;
  flex-direction: column;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 2px;
  border-bottom-width: 0px;
}
 
@media(max-width: 991px) {
  .d3-other-contacts-container11 {
    align-items: stretch;
  }
  .d3-other-contacts-text10 {
    text-align: center;
  }
  .d3-other-contacts-text12 {
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .d3-other-contacts-steps {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-container16 {
    align-items: flex-start;
    padding-left: var(--dl-space-space-fiveunits);
    flex-direction: column;
  }
  .d3-other-contacts-step1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .d3-other-contacts-container17 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .d3-other-contacts-container22 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .d3-other-contacts-text16 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .d3-other-contacts-text18 {
    text-align: left;
  }
  .d3-other-contacts-step2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .d3-other-contacts-container23 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .d3-other-contacts-container27 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .d3-other-contacts-text21 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .d3-other-contacts-text23 {
    text-align: left;
  }
  .d3-other-contacts-step3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .d3-other-contacts-container29 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .d3-other-contacts-line1 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .d3-other-contacts-line2 {
    border-color: var(--dl-color-gray-900);
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .d3-other-contacts-container31 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .d3-other-contacts-text27 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .d3-other-contacts-text29 {
    text-align: left;
  }
  .d3-other-contacts-step4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
  }
  .d3-other-contacts-container32 {
    width: var(--dl-size-size-small);
    height: auto;
    align-self: stretch;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
    padding-bottom: 2px;
    justify-content: space-between;
  }
  .d3-other-contacts-line3 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .d3-other-contacts-line4 {
    border-color: transparent;
    border-style: dashed;
    border-top-width: 0px;
    border-left-width: 2px;
  }
  .d3-other-contacts-container34 {
    width: 100%;
    align-items: flex-start;
    padding-top: var(--dl-space-space-twounits);
    flex-direction: column;
    padding-bottom: var(--dl-space-space-twounits);
    justify-content: space-between;
  }
  .d3-other-contacts-text32 {
    margin-top: var(--dl-space-space-twounits);
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-unit);
  }
  .d3-other-contacts-text34 {
    text-align: left;
  }
  .d3-other-contacts-line5 {
    border-top-width: 0px;
    border-left-width: 2px;
  }
}
 
@media(max-width: 479px) {
  .d3-other-contacts-steps {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-container16 {
    padding-left: 0px;
  }
  .d3-other-contacts-container22 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-text16 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-container27 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-text21 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-container31 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-text27 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-container34 {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-twounits);
  }
  .d3-other-contacts-text32 {
    margin-left: 0px;
    margin-right: var(--dl-space-space-twounits);
  }
}
