.z111-profile-update-container10 {
  width: 100vw;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-500);
}
 
.z111-profile-update-image {
  top: 0;
  left: 0px;
  right: 0px;
  width: 86%;
  bottom: 20%;
  margin: auto;
  opacity: 0.15;
  position: fixed;
  object-fit: cover;
}
 
.z111-profile-update-body {
  position: relative;
  align-items: stretch;
  padding-top: 8vh;
  padding-bottom: 10vh;
}
 
.z111-profile-update-container11 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  z-index: 100;
  align-self: stretch;
  box-shadow: 0px 0px 10px 4px #e14747 inset;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 2vh;
  margin-bottom: -4vh;
  padding-right: 2vh;
  flex-direction: row;
  padding-bottom: 1vh;
  background-color: var(--dl-color-gray-700);
}
 
.z111-profile-update-text10 {
  color: var(--dl-color-gray-300);
  align-self: center;
  text-align: center;
  transition: 0.3s;
  text-decoration: underline blue (scheme);
}
 
.z111-profile-update-text10:hover {
  color: var(--dl-color-danger-700);
}
 
.z111-profile-update-text11 {
  flex: 1;
  color: var(--dl-color-gray-300);
  align-self: center;
  text-align: center;
  padding-left: 0.5vh;
}
 
.z111-profile-update-text15 {
  text-decoration: underline;
}
 
.z111-profile-update-text16 {
  text-decoration: underline;
}
 
.z111-profile-update-text18 {
  color: var(--dl-color-gray-300);
  align-self: center;
  text-align: center;
  transition: 0.3s;
  margin-left: 1vh;
}
 
.z111-profile-update-text18:hover {
  color: var(--dl-color-gray-white);
  text-decoration: underline #33b5e5;
}
 
.z111-profile-update-icon1 {
  fill: var(--dl-color-gray-300);
  width: 3vh;
  height: 3vh;
  align-self: center;
  transition: 0.3s;
  margin-left: 1vh;
}
 
.z111-profile-update-icon1:hover {
  fill: var(--dl-color-danger-700);
  cursor: pointer;
}
 
.z111-profile-update-container13 {
  display: contents;
}
 
.z111-profile-update-text22 {
  height: auto;
  z-index: 101;
  margin-top: 6vh;
  padding-left: 6%;
  margin-bottom: 2vh;
  padding-right: 6%;
}
 
.z111-profile-update-text23 {
  color: var(--dl-color-scheme-blue);
}
 
.z111-profile-update-text25 {
  color: var(--dl-color-scheme-blue);
}
 
.z111-profile-update-container16 {
  height: auto;
  display: flex;
  padding: 0px;
  z-index: 100;
  overflow: hidden;
  max-height: 75vh;
  min-height: auto;
  overflow-y: auto;
  align-items: center;
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z111-profile-update-text29 {
  top: 0px;
  left: 2px;
  right: 2px;
  width: 100%;
  height: 5vh;
  margin: auto;
  z-index: 101;
  position: sticky;
  align-self: stretch;
  box-shadow: rgba(51, 181, 229, 0.5) 0px 0px 15px 0px;
  text-align: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(51, 181, 229, 0.5) 100%),linear-gradient(90deg, rgb(51, 51, 51) 0%, rgb(51, 51, 51) 100%);
}
 
.z111-profile-update-container17 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: row;
}
 
.z111-profile-update-container18 {
  flex: 1;
  display: flex;
  max-width: 100%;
  min-width: 49.5%;
  align-self: stretch;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
 
.z111-profile-update-container18:hover {
  box-shadow: 0px 0px 15px 0px #33b5e5 inset;
  background-color: rgba(51, 181, 229, 0.1);
}
 
.z111-profile-update-text30 {
  align-self: stretch;
  text-align: center;
  padding-top: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
  text-decoration: underline rgb(51, 181, 229);
}
 
.z111-profile-update-form1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  flex-direction: column;
  padding-bottom: 3vh;
  justify-content: flex-start;
}
 
.z111-profile-update-container19 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container20 {
  flex: 1;
  display: flex;
  max-width: 35vw;
  min-width: min-content;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text31 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container21 {
  flex: 1;
  display: flex;
  max-width: calc(15vw + 15rem);
  min-width: calc(10vw + 10rem);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput1 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container22 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container23 {
  flex: 1;
  display: flex;
  max-width: 35vw;
  min-width: min-content;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text32 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container24 {
  flex: 1;
  display: flex;
  max-width: calc(15vw + 15rem);
  min-width: calc(10vw + 10rem);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput2 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container25 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 0vw;
  padding-right: 0vw;
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-button1 {
  margin-left: 0px;
}
 
.z111-profile-update-container26 {
  top: 2px;
  flex: 0 0 auto;
  left: 2px;
  right: 2px;
  width: auto;
  height: 5vh;
  margin: auto;
  display: none;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(162, 32, 32, 0.5);
}
 
.z111-profile-update-container27 {
  top: 2px;
  flex: 0 0 auto;
  left: 2px;
  right: 2px;
  width: auto;
  height: 5vh;
  margin: auto;
  display: none;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(76, 195, 102, 0.5);
}
 
.z111-profile-update-text35 {
  align-self: center;
  text-align: center;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-bottom: 3vh;
}
 
.z111-profile-update-container28 {
  flex: 0 0 auto;
  width: 0px;
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  border-color: var(--dl-color-scheme-blue);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.z111-profile-update-container29 {
  flex: 1;
  display: flex;
  max-width: 100%;
  min-width: 49.5%;
  align-self: stretch;
  transition: 0.3s;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-between;
}
 
.z111-profile-update-container29:hover {
  box-shadow: 0px 0px 15px 0px #33b5e5 inset;
  background-color: rgba(51, 181, 229, 0.1);
}
 
.z111-profile-update-text36 {
  align-self: stretch;
  text-align: center;
  padding-top: 3vh;
  padding-left: 1vh;
  padding-right: 1vh;
  text-decoration: underline rgb(51, 181, 229);
}
 
.z111-profile-update-form2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  padding-top: 3vh;
  padding-left: 5vh;
  padding-right: 5vh;
  flex-direction: column;
  padding-bottom: 3vh;
  justify-content: flex-start;
}
 
.z111-profile-update-container30 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container31 {
  flex: 1;
  display: flex;
  max-width: 35vw;
  min-width: min-content;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text37 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container32 {
  flex: 1;
  display: flex;
  max-width: calc(15vw + 15rem);
  min-width: calc(10vw + 10rem);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput3 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container33 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container34 {
  flex: 1;
  display: flex;
  max-width: 35vw;
  min-width: min-content;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text38 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container35 {
  flex: 1;
  display: flex;
  max-width: calc(15vw + 15rem);
  min-width: calc(10vw + 10rem);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput4 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container36 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container37 {
  flex: 1;
  display: flex;
  max-width: 35vw;
  min-width: min-content;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text39 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container38 {
  flex: 1;
  display: flex;
  max-width: calc(15vw + 15rem);
  min-width: calc(10vw + 10rem);
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput5 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container39 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 0vw;
  padding-right: 0vw;
  flex-direction: column;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-button2 {
  margin-left: 0px;
}
 
.z111-profile-update-container40 {
  top: 2px;
  flex: 0 0 auto;
  left: 2px;
  right: 2px;
  width: auto;
  height: 5vh;
  margin: auto;
  display: none;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(162, 32, 32, 0.5);
}
 
.z111-profile-update-container41 {
  top: 2px;
  flex: 0 0 auto;
  left: 2px;
  right: 2px;
  width: auto;
  height: 5vh;
  margin: auto;
  display: none;
  position: absolute;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius16);
  flex-direction: column;
  justify-content: center;
  background-color: rgba(76, 195, 102, 0.5);
}
 
.z111-profile-update-text42 {
  align-self: center;
  text-align: center;
  padding-left: 3vh;
  padding-right: 3vh;
  padding-bottom: 3vh;
}
 
.z111-profile-update-text43 {
  top: 5vh;
  left: 2px;
  right: 2px;
  width: 100%;
  height: 5vh;
  margin: auto;
  z-index: 101;
  position: sticky;
  align-self: stretch;
  box-shadow: rgba(51, 181, 229, 0.5) 0px 0px 15px 0px;
  text-align: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 0.5vh;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.3) 0%, rgba(51, 181, 229, 0.5) 100%),linear-gradient(90deg, rgb(51, 51, 51) 0%, rgb(51, 51, 51) 100%);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.z111-profile-update-container42 {
  flex: 0 0 auto;
  height: auto;
  display: flex;
  position: relative;
  align-self: stretch;
  transition: 0.3s;
  align-items: flex-start;
  flex-direction: column;
}
 
.z111-profile-update-container42:hover {
  box-shadow: 0px 0px 15px 0px #33b5e5 inset;
  background-color: rgba(51, 181, 229, 0.1);
}
 
.z111-profile-update-container43 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.z111-profile-update-text44 {
  padding: 1vh;
  align-self: stretch;
  text-align: center;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  margin-bottom: 2vh;
  background-color: rgba(51, 181, 229, 0.3);
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z111-profile-update-update-firstname {
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z111-profile-update-container44 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container45 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text49 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container46 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput6 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container47 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-button3 {
  margin-left: 0px;
}
 
.z111-profile-update-update-lastname {
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z111-profile-update-container48 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container49 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text50 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container50 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput7 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container51 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-button4 {
  margin-left: 0px;
}
 
.z111-profile-update-update-age {
  width: 100%;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z111-profile-update-container52 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container53 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text51 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container54 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
}
 
.z111-profile-update-textinput8 {
  width: 100%;
  align-self: center;
  text-align: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container55 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-button5 {
  margin-left: 0px;
}
 
.z111-profile-update-container56 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-container57 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-end;
}
 
.z111-profile-update-text52 {
  align-self: center;
  text-align: right;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
}
 
.z111-profile-update-container58 {
  flex: 1;
  display: flex;
  max-width: 33%;
  min-width: 30%;
  align-self: center;
  align-items: stretch;
  flex-direction: column;
  justify-content: space-around;
}
 
.z111-profile-update-select {
  display: none;
}
 
.z111-profile-update-container59 {
  align-self: stretch;
  align-items: stretch;
  text-emphasis: none;
  flex-direction: column;
  justify-content: center;
  background-color: none;
}
 
.z111-profile-update-container60 {
  display: contents;
}
 
.z111-profile-update-container61 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 30%;
  align-items: center;
  padding-top: 1vh;
  padding-left: 3vh;
  padding-right: 3vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: center;
}
 
.z111-profile-update-button6 {
  margin-left: 0px;
}
 
.z111-profile-update-if-profile-completed {
  flex: 0 0 auto;
  display: flex;
  align-self: stretch;
  margin-top: 10vh;
  align-items: flex-start;
  margin-left: 3vh;
  margin-right: 3vh;
  margin-bottom: 10vh;
  flex-direction: column;
}
 
.z111-profile-update-text53 {
  margin: auto;
  text-align: center;
}
 
@media(max-width: 991px) {
  .z111-profile-update-container17 {
    flex-direction: row;
  }
  .z111-profile-update-container18 {
    border-color: var(--dl-color-scheme-blue);
    border-width: 2px;
    border-top-width: 0px;
    border-left-width: 0px;
    border-right-width: 0px;
    border-bottom-width: 0px;
  }
  .z111-profile-update-text31 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-text32 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container31 {
    width: 100%;
    max-width: auto;
    min-width: auto;
  }
  .z111-profile-update-text37 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container34 {
    width: 100%;
    max-width: auto;
    min-width: auto;
  }
  .z111-profile-update-text38 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container37 {
    width: 100%;
    max-width: auto;
    min-width: auto;
  }
  .z111-profile-update-text39 {
    width: 100%;
    text-align: center;
  }
}
 
@media(max-width: 767px) {
  .z111-profile-update-container17 {
    flex-direction: column;
  }
  .z111-profile-update-text31 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container21 {
    width: 100%;
  }
  .z111-profile-update-text32 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container24 {
    width: 100%;
  }
  .z111-profile-update-container31 {
    max-width: 35vw;
  }
  .z111-profile-update-text37 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container32 {
    width: 100%;
  }
  .z111-profile-update-container34 {
    max-width: 35vw;
  }
  .z111-profile-update-text38 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container35 {
    width: 100%;
  }
  .z111-profile-update-container37 {
    max-width: 35vw;
  }
  .z111-profile-update-text39 {
    width: 100%;
    text-align: center;
  }
  .z111-profile-update-container38 {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .z111-profile-update-container17 {
    flex-direction: column;
  }
  .z111-profile-update-container18 {
    border-bottom-width: 2px;
  }
  .z111-profile-update-text31 {
    text-align: center;
  }
  .z111-profile-update-text32 {
    text-align: center;
  }
  .z111-profile-update-container30 {
    align-items: stretch;
  }
  .z111-profile-update-container31 {
    width: 100%;
    max-width: auto;
    min-width: 0px;
  }
  .z111-profile-update-text37 {
    text-align: center;
  }
  .z111-profile-update-textinput3 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .z111-profile-update-container33 {
    align-items: stretch;
  }
  .z111-profile-update-container34 {
    width: 100%;
    max-width: auto;
    min-width: 0px;
  }
  .z111-profile-update-text38 {
    text-align: center;
  }
  .z111-profile-update-textinput4 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .z111-profile-update-container36 {
    align-items: stretch;
  }
  .z111-profile-update-container37 {
    width: 100%;
    max-width: auto;
    min-width: 0px;
    align-self: stretch;
    justify-content: center;
  }
  .z111-profile-update-text39 {
    text-align: center;
  }
  .z111-profile-update-textinput5 {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
  }
  .z111-profile-update-text49 {
    text-align: center;
  }
  .z111-profile-update-text50 {
    text-align: center;
  }
  .z111-profile-update-text51 {
    text-align: center;
  }
  .z111-profile-update-text52 {
    text-align: center;
  }
}
