.z55-faq-container10 {
  width: 100vw;
  display: flex;
  overflow: auto;
  overflow-x: hidden;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-500);
}
 
.z55-faq-image {
  top: 0;
  left: 0px;
  right: 0px;
  width: 86%;
  bottom: 20%;
  margin: auto;
  opacity: 0.15;
  position: fixed;
  object-fit: cover;
  padding-top: 20vh;
}
 
.z55-faq-body {
  position: relative;
  overflow-x: hidden;
  overflow-y: auto;
  align-items: stretch;
  padding-top: 8vh;
  justify-content: flex-start;
}
 
.z55-faq-container11 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.z55-faq-text100 {
  height: auto;
  z-index: 101;
  margin-top: 2vh;
  padding-left: 6%;
  margin-bottom: 2vh;
  padding-right: 6%;
}
 
.z55-faq-text101 {
  color: var(--dl-color-scheme-blue);
}
 
.z55-faq-text103 {
  color: var(--dl-color-scheme-blue);
}
 
.z55-faq-text105 {
  color: var(--dl-color-scheme-blue);
}
 
.z55-faq-container12 {
  flex: 0 0 auto;
  display: flex;
  padding: 0px;
  overflow: hidden;
  box-sizing: content-box;
  max-height: 75vh;
  overflow-y: auto;
  align-items: stretch;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: row;
  justify-content: space-between;
  background-color: #333;
}
 
.z55-faq-container13 {
  flex: 0 0 auto;
  display: flex;
  max-width: 20vw;
  min-width: 20vw;
  align-self: stretch;
  align-items: flex-end;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  justify-content: flex-start;
  background-image: linear-gradient(90deg, rgba(51, 51, 51, 0.8) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
  border-top-width: 0px;
  border-left-width: 0px;
  border-bottom-width: 0px;
}
 
.z55-faq-thq-dropdown10 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown10:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle10 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container14 {
  align-items: flex-start;
}
 
.z55-faq-text107 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow10 {
  transition: 0.3s;
}
 
.z55-faq-icon10 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list10 {
  top: 0;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown10 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle11 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text108 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul10 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li10 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li10:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text109 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text111 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li11 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li11:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text112 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text114 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown11 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown11:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle12 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container17 {
  align-items: flex-start;
}
 
.z55-faq-text115 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow11 {
  transition: 0.3s;
}
 
.z55-faq-icon12 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list11 {
  top: -7.5vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown11 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle13 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text116 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul11 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li12 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li12:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text117 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text119 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li13 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li13:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text120 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text122 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown12 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown12:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle14 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container20 {
  align-items: flex-start;
}
 
.z55-faq-text123 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow12 {
  transition: 0.3s;
}
 
.z55-faq-icon14 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list12 {
  top: -15vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown12 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle15 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text124 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul12 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li14 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li14:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text125 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text127 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li15 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li15:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text128 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text130 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown13 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown13:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle16 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container23 {
  align-items: flex-start;
}
 
.z55-faq-text131 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow13 {
  transition: 0.3s;
}
 
.z55-faq-icon16 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list13 {
  top: -22.5vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown13 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle17 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text132 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul13 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li16 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li16:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text133 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text135 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li17 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li17:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text136 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text138 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown14 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown14:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle18 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container26 {
  align-items: flex-start;
}
 
.z55-faq-text139 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow14 {
  transition: 0.3s;
}
 
.z55-faq-icon18 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list14 {
  top: -30vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown14 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle19 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text140 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul14 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li18 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li18:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text141 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text143 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li19 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li19:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text144 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text146 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown15 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown15:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle20 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container29 {
  align-items: flex-start;
}
 
.z55-faq-text147 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow15 {
  transition: 0.3s;
}
 
.z55-faq-icon20 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list15 {
  top: -37.5vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown15 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle21 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text148 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul15 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li20 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li20:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text149 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text151 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li21 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li21:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text152 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text154 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown16 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown16:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle22 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container32 {
  align-items: flex-start;
}
 
.z55-faq-text155 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow16 {
  transition: 0.3s;
}
 
.z55-faq-icon22 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list16 {
  top: -45vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown16 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle23 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text156 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul16 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li22 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li22:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text157 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text159 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li23 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li23:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text160 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text162 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown17 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown17:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle24 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container35 {
  align-items: flex-start;
}
 
.z55-faq-text163 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow17 {
  transition: 0.3s;
}
 
.z55-faq-icon24 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list17 {
  top: -52.5vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown17 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle25 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text164 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul17 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li24 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li24:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text165 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text167 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li25 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li25:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text168 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text170 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown18 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown18:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle26 {
  width: 100%;
  display: inline-flex;
  max-height: 7.5vh;
  min-height: 7.5vh;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-container38 {
  align-items: flex-start;
}
 
.z55-faq-text171 {
  align-self: flex-start;
  font-style: italic;
}
 
.z55-faq-dropdown-arrow18 {
  transition: 0.3s;
}
 
.z55-faq-icon26 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list18 {
  top: -60vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown18 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle27 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text172 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul18 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li26 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li26:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text173 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text175 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li27 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li27:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text176 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text178 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-thq-dropdown19 {
  fill: var(--dl-color-scheme-white1);
  color: var(--dl-color-scheme-white1);
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.3s;
}
 
.z55-faq-thq-dropdown19:hover {
  fill: var(--dl-color-scheme-blue);
  color: var(--dl-color-scheme-blue);
  text-decoration: underline #33b5e5;
}
 
.z55-faq-dropdown-toggle28 {
  width: 100%;
  display: inline-flex;
  box-shadow: 0px 0px 10px 0px #33b5e5 inset;
  max-height: 7.5vh;
  min-height: 7.5vh;
  transition: 0.3s;
  align-items: center;
  padding-top: 0.5vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 1vh;
  padding-right: 0.5vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-end;
  scroll-behavior: unset;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
}
 
.z55-faq-dropdown-toggle28:hover {
  box-shadow: 0px 0px 15px 0px #33b5e5 inset;
}
 
.z55-faq-container41 {
  align-items: flex-start;
}
 
.z55-faq-text179 {
  width: 100%;
  align-self: flex-start;
  font-style: italic;
  text-align: right;
}
 
.z55-faq-text180 {
  width: 100%;
  align-self: flex-start;
  font-style: italic;
  text-align: right;
  text-decoration: none;
}
 
.z55-faq-dropdown-arrow19 {
  transition: 0.3s;
}
 
.z55-faq-icon28 {
  width: 2vh;
  height: 2vh;
  transition: 0.3s;
}
 
.z55-faq-dropdown-list19 {
  top: -67.5vh;
  left: 100%;
  display: none;
  z-index: 100;
  position: absolute;
  animation: fadeIn 0.5s;
  max-width: 70vw;
  min-width: 70vw;
  max-height: 75vh;
  min-height: 75vh;
  transition: 0.3s;
  align-items: stretch;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  flex-direction: column;
  list-style-type: none;
  background-color: #333;
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  list-style-position: inside;
}
 
.z55-faq-dropdown19 {
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 75vh;
  display: inline-block;
  position: absolute;
  background-image: linear-gradient(90deg, rgba(51, 181, 229, 0.2) 0.00%,rgba(0, 0, 0, 0) 100.00%);
}
 
.z55-faq-dropdown-toggle29 {
  fill: #595959;
  width: 100%;
  height: 100%;
  display: inline-flex;
  padding: 2vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text181 {
  width: 100%;
  display: flex;
  font-style: italic;
  align-items: flex-start;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-bottom: 1vh;
  justify-content: center;
  text-decoration: none;
}
 
.z55-faq-ul19 {
  padding-top: 0;
  padding-left: 0vh;
  padding-right: 0vh;
  padding-bottom: 0;
  list-style-type: decimal;
  list-style-image: none;
  list-style-position: inside;
}
 
.z55-faq-li28 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li28:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text182 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text184 {
  color: var(--dl-color-gray-950);
  padding-top: 1vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-li29 {
  cursor: default;
  margin-top: 1vh;
  transition: 0.5s;
  padding-top: 1vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 2px;
  padding-left: 0.5vh;
  border-radius: var(--dl-radius-radius-radius16);
  margin-bottom: 1vh;
  padding-bottom: 1vh;
  border-top-width: 0px;
  border-right-width: 0px;
  list-style-position: outside;
}
 
.z55-faq-li29:hover {
  background-image: linear-gradient(45deg, rgba(0, 0, 0, 0) 0.00%,rgba(51, 181, 229, 0.2) 100.00%);
}
 
.z55-faq-text185 {
  margin-left: 0.5vh;
  margin-right: 0.5vh;
}
 
.z55-faq-text187 {
  color: var(--dl-color-gray-950);
  padding-top: 0.5vh;
  padding-left: 1vh;
  text-decoration: none;
}
 
.z55-faq-container44 {
  flex: 1;
  display: flex;
  max-width: 70vw;
  min-width: 70vw;
  align-self: stretch;
  align-items: flex-end;
  flex-direction: column;
  justify-content: flex-start;
  background-color: rgba(51, 51, 51, 0.8);
}
 
.z55-faq-container45 {
  flex: 1;
  display: flex;
  max-width: 100%;
  min-width: 100%;
  align-self: center;
  max-height: 75vh;
  min-height: 75vh;
  align-items: stretch;
  flex-direction: column;
  justify-content: center;
}
 
.z55-faq-text188 {
  max-width: 90%;
  align-self: center;
  text-align: center;
}
 
.z55-faq-text195 {
  text-decoration: underline;
}
 
.z55-faq-text197 {
  font-size: 80%;
}
 
.z55-faq-container46 {
  display: flex;
  z-index: 100;
  box-shadow: 0px -5px 10px 0px #33b5e5;
  margin-top: 8vh;
  padding-top: 4vh;
  border-color: var(--dl-color-scheme-blue);
  border-width: 5px;
  padding-left: 5vw;
  padding-right: 5vw;
  flex-direction: column;
  padding-bottom: 4vh;
  justify-content: space-between;
  background-image: radial-gradient(circle at right bottom, rgba(51, 181, 229, 0.5) 0.00%,rgba(153, 153, 153, 0) 34.00%),radial-gradient(circle at right bottom, rgba(153, 153, 153, 0) 42.00%,rgba(51, 181, 229, 0.5) 100.00%),linear-gradient(90deg, rgb(51, 181, 229) 0.00%,rgba(153, 153, 153, 0) 43.00%),linear-gradient(180deg, rgb(51, 181, 229) 0.00%,rgb(51, 51, 51) 30.00%);
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
}
 
.z55-faq-container47 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 
.z55-faq-container48 {
  flex: 1;
  display: flex;
  max-width: 100%;
  align-self: stretch;
  align-items: center;
  padding-left: 2vh;
  margin-bottom: 2vh;
  padding-right: 2vh;
  flex-direction: column;
  padding-bottom: 2vh;
  justify-content: center;
}
 
.z55-faq-container49 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
 
.z55-faq-container50 {
  flex: 1;
  display: flex;
  max-width: 35%;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.z55-faq-text201 {
  color: var(--dl-color-gray-300);
  align-self: flex-start;
}
 
.z55-faq-text202 {
  color: var(--dl-color-scheme-white1);
  margin-top: 1vh;
  text-shadow: 0 0 1px #333, 0 0 1px #333;
}
 
.z55-faq-text206 {
  font-size: 90%;
}
 
.z55-faq-text209 {
  font-size: 90%;
}
 
.z55-faq-container51 {
  flex: 1;
  width: auto;
  overflow: hidden;
  max-width: 60%;
  align-self: stretch;
  border-radius: var(--dl-radius-radius-radius16);
  background-color: var(--dl-color-gray-300);
}
 
.z55-faq-container52 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;
}
 
.z55-faq-text213 {
  font-size: 80%;
}
 
.z55-faq-text214 {
  font-size: 80%;
}
 
.z55-faq-textinput1 {
  color: var(--dl-color-gray-300);
  width: 70%;
}
 
.z55-faq-container53 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;
}
 
.z55-faq-text217 {
  color: var(--dl-color-danger-700);
}
 
.z55-faq-textinput2 {
  color: var(--dl-color-gray-300);
  width: 70%;
}
 
.z55-faq-container54 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;
}
 
.z55-faq-text220 {
  color: var(--dl-color-danger-700);
}
 
.z55-faq-select {
  color: var(--dl-color-gray-300);
  width: 70%;
}
 
.z55-faq-container55 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;
}
 
.z55-faq-text223 {
  color: var(--dl-color-danger-700);
}
 
.z55-faq-textinput3 {
  color: var(--dl-color-gray-300);
  width: 70%;
}
 
.z55-faq-container56 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: space-between;
}
 
.z55-faq-text227 {
  font-size: 80%;
}
 
.z55-faq-textinput4 {
  color: var(--dl-color-gray-300);
  width: 70%;
}
 
.z55-faq-container57 {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 2vh;
  justify-content: flex-start;
}
 
.z55-faq-checkbox {
  width: 2vh;
  height: 2vh;
  margin-left: 1vh;
  margin-right: 1vh;
}
 
.z55-faq-link1 {
  text-decoration: underline;
}
 
.z55-faq-link2 {
  text-decoration: underline;
}
 
.z55-faq-text234 {
  color: var(--dl-color-danger-700);
  text-align: center;
  text-shadow: 0 0 1px #fff, 0 0 1px #fff;
  margin-bottom: 1vh;
}
 
.z55-faq-button {
  margin-left: 0px;
}
 
.z55-faq-container58 {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  right: 0px;
  width: 100%;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  animation: fadeIn 1s;
  box-shadow: 0px 0px 2rem 0px #4cc366 inset;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--dl-color-gray-500);
}
 
.z55-faq-container59 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  margin-top: 10%;
  align-items: flex-start;
  flex-direction: column;
}
 
.z55-faq-icon30 {
  fill: var(--dl-color-success-500);
  width: 30%;
  align-self: center;
}
 
.z55-faq-text239 {
  align-self: stretch;
  text-align: center;
}
 
.z55-faq-text243 {
  font-size: 90%;
}
 
.z55-faq-container60 {
  top: -Infinitypx;
  left: -Infinitypx;
  position: absolute;
}
 
.z55-faq-container61 {
  display: contents;
}
 
@media(max-width: 991px) {
  .z55-faq-container13 {
    max-width: 30vw;
    min-width: 30vw;
  }
  .z55-faq-container45 {
    max-width: 70vw;
    min-width: 70vw;
  }
}
 
@media(max-width: 767px) {
  .z55-faq-container49 {
    flex-direction: column;
  }
  .z55-faq-container50 {
    max-width: 100%;
    margin-bottom: 2vh;
  }
  .z55-faq-container51 {
    max-width: 100%;
  }
  .z55-faq-container59 {
    margin-top: 5%;
  }
  .z55-faq-icon30 {
    align-self: center;
  }
}
