.elemrss-container10 {
  width: 100%;
  display: flex;
  position: relative;
  flex-wrap: wrap;
  max-height: 6vh;
  overflow-y: hidden;
  transition: 0.75s;
  align-items: center;
  border-color: var(--dl-color-scheme-blue);
  border-width: 0px;
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--dl-color-gray-300);
  border-top-width: 1px;
}
 
.elemrss-container10:focus {
  max-height: max-content;
  background-color: #111;
}
 
.elemrss-text10 {
  display: flex;
  min-height: 6vh;
  text-align: center;
  align-items: center;
  padding-left: 2vh;
  padding-right: 2vh;
  justify-content: center;
}
 
.elemrss-container11 {
  flex: 0 0 auto;
  width: 3px;
  height: auto;
  display: flex;
  z-index: 110;
  align-self: stretch;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.00%,rgb(51, 181, 229) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
 
.elemrss-image {
  max-width: 4vh;
  align-self: center;
  margin-top: 1vh;
  max-height: 4vh;
  object-fit: cover;
  margin-left: 2vh;
  margin-right: 2vh;
  border-radius: var(--dl-radius-radius-round);
  margin-bottom: 1vh;
}
 
.elemrss-container12 {
  flex: 0 0 auto;
  width: 3px;
  height: auto;
  display: flex;
  z-index: 110;
  align-self: stretch;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.00%,rgb(51, 181, 229) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
 
.elemrss-text11 {
  display: flex;
  font-style: normal;
  min-height: 6vh;
  text-align: center;
  align-items: center;
  font-weight: 500;
  padding-left: 2vh;
  padding-right: 2vh;
  justify-content: center;
}
 
.elemrss-container13 {
  flex: 0 0 auto;
  width: 3px;
  height: auto;
  display: flex;
  z-index: 110;
  align-self: stretch;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.00%,rgb(51, 181, 229) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
 
.elemrss-text12 {
  display: flex;
  min-width: 8vh;
  font-style: normal;
  min-height: 6vh;
  text-align: center;
  align-items: center;
  font-weight: 500;
  padding-left: 2vh;
  padding-right: 2vh;
  text-transform: uppercase;
  justify-content: center;
}
 
.elemrss-container14 {
  flex: 0 0 auto;
  width: 3px;
  height: auto;
  display: flex;
  z-index: 110;
  align-self: stretch;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.00%,rgb(51, 181, 229) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
 
.elemrss-text13 {
  flex: 1;
  display: flex;
  font-style: normal;
  min-height: 6vh;
  text-align: center;
  align-items: center;
  font-weight: 500;
  padding-left: 2vh;
  padding-right: 2vh;
  justify-content: center;
}
 
.elemrss-container15 {
  flex: 0 0 auto;
  width: 3px;
  height: auto;
  display: flex;
  z-index: 110;
  align-self: stretch;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.00%,rgb(51, 181, 229) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
 
.elemrss-text14 {
  flex: 1;
  display: flex;
  font-style: normal;
  min-height: 6vh;
  text-align: center;
  align-items: center;
  font-weight: 500;
  padding-left: 2vh;
  padding-right: 2vh;
  justify-content: center;
}
 
.elemrss-container16 {
  flex: 0 0 auto;
  width: 3px;
  height: auto;
  display: flex;
  z-index: 110;
  align-self: stretch;
  background-image: linear-gradient(180deg, rgba(255, 255, 255, 0) 0.00%,rgb(51, 181, 229) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
 
.elemrss-container17 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  min-height: 6vh;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.elemrss-container17:focus-within {
  min-width: 100%;
}
 
.elemrss-container18 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  flex-direction: row;
  padding-bottom: 0.5vh;
  justify-content: flex-start;
}
 
.elemrss-icon1 {
  width: 2.5vh;
  height: 2.5vh;
  padding: 0.3vh;
}
 
.elemrss-text15 {
  display: flex;
  align-self: stretch;
  text-align: center;
  align-items: center;
  justify-content: center;
}
 
.elemrss-container19 {
  flex: 0 0 auto;
  width: 100%;
  height: 3px;
  display: flex;
  z-index: 110;
  align-self: stretch;
  margin-bottom: -3px;
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0.00%,rgb(51, 181, 229) 50.00%,rgba(255, 255, 255, 0) 100.00%);
}
 
.elemrss-container20 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.elemrss-container21 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.elemrss-text16 {
  display: flex;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
}
 
.elemrss-container22 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.elemrss-text17 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  justify-content: center;
}
 
.elemrss-text18 {
  display: flex;
  padding: 0.5vh;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.elemrss-container23 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.elemrss-text19 {
  display: flex;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
}
 
.elemrss-container24 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.elemrss-text20 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  justify-content: center;
}
 
.elemrss-text21 {
  display: flex;
  padding: 0.5vh;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.elemrss-container25 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.elemrss-text22 {
  display: flex;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
}
 
.elemrss-container26 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.elemrss-text23 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  justify-content: center;
}
 
.elemrss-text24 {
  display: flex;
  padding: 0.5vh;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.elemrss-text25 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  justify-content: center;
}
 
.elemrss-container27 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.elemrss-text26 {
  display: flex;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
}
 
.elemrss-container28 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.elemrss-text27 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  justify-content: center;
}
 
.elemrss-text28 {
  display: flex;
  padding: 0.5vh;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.elemrss-container29 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.elemrss-text29 {
  display: flex;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
}
 
.elemrss-container30 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.elemrss-text30 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  text-transform: uppercase;
  justify-content: center;
}
 
.elemrss-container31 {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.elemrss-text31 {
  display: flex;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
}
 
.elemrss-container32 {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.elemrss-text32 {
  display: flex;
  align-items: center;
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  justify-content: center;
}
 
.elemrss-text33 {
  display: flex;
  padding: 0.5vh;
  align-self: stretch;
  align-items: center;
  justify-content: center;
}
 
.elemrss-container33 {
  display: flex;
  flex-wrap: wrap;
  max-width: 100%;
  min-width: 100%;
  align-items: flex-start;
  padding-top: 1vh;
  padding-left: 1.5vh;
  padding-right: 1.5vh;
  flex-direction: row;
  padding-bottom: 1vh;
  justify-content: flex-start;
}
 
.elemrss-text34 {
  display: flex;
  font-style: normal;
  text-align: left;
  align-items: center;
  font-weight: 500;
  justify-content: flex-start;
}
 
.elemrss-text35 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  padding-top: 0.5vh;
  padding-left: 1vh;
  padding-right: 1vh;
  padding-bottom: 0.5vh;
  justify-content: flex-start;
}
