.tooltip-b-r-container {
  display: flex;
  position: relative;
}
 
.tooltip-b-r-thq-dropdown {
  width: auto;
  cursor: pointer;
  display: inline-block;
  position: relative;
}
 
.tooltip-b-r-dropdown-toggle1 {
  width: 100%;
  display: inline-flex;
  align-items: center;
}
 
.tooltip-b-r-icon1 {
  fill: var(--dl-color-scheme-blue);
  width: 22px;
  height: 22px;
  align-self: center;
}
 
.tooltip-b-r-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 1000;
  position: absolute;
  min-width: 100%;
  align-items: stretch;
  flex-direction: column;
  list-style-type: none;
  list-style-position: inside;
}
 
.tooltip-b-r-dropdown {
  display: inline-block;
  position: relative;
}
 
.tooltip-b-r-text1 {
  color: var(--dl-color-gray-black);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 1;
}
 
.tooltip-b-r-text2 {
  color: rgba(0, 0, 0, 0);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 0.5;
}
 
.tooltip-b-r-text3 {
  color: var(--dl-color-gray-black);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 1;
}
 
.tooltip-b-r-text4 {
  color: rgba(0, 0, 0, 0);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 0.5;
}
 
.tooltip-b-r-text5 {
  color: var(--dl-color-gray-black);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 1;
}
 
.tooltip-b-r-text6 {
  color: rgba(0, 0, 0, 0);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 0.5;
  animation-delay: 0.2s;
}
 
.tooltip-b-r-text7 {
  color: var(--dl-color-gray-black);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 1;
  animation-delay: 0.2s;
}
 
.tooltip-b-r-text8 {
  color: rgba(0, 0, 0, 0);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 0.5;
  animation-delay: 0.2s;
}
 
.tooltip-b-r-text9 {
  color: var(--dl-color-gray-black);
  animation: fadeIn 1s alternate;
  max-width: 400px;
  align-self: stretch;
  text-align: center;
  line-height: 1;
  animation-delay: 0.4s;
}
 
.tooltip-b-rroot-class-name {
  align-self: flex-start;
  margin-left: -22px;
  margin-right: 10px;
}
 
.tooltip-b-rroot-class-name1 {
  align-self: flex-start;
  margin-left: -22px;
  margin-right: 10px;
}
 
.tooltip-b-rroot-class-name2 {
  align-self: flex-start;
  margin-left: -22px;
  margin-right: 10px;
}
 
.tooltip-b-rroot-class-name3 {
  align-self: flex-start;
  margin-left: -22px;
  margin-right: 10px;
}
